{% extends "navbar.html" %}

{% block things %}


{% block content %}



<!-- <section class="text-center mb-4">

  <div class="row wow fadeIn">

    {% for item in object_list %}
    <div class="col-lg-3 col-md-6 mb-4 ">

      <div class="card">

        <div class="view overlay">
          {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
            class="card-img-top" {% endcomment %} <img src="{{ item.image.url }}" class="card-img-top">
          <a href="{{ item.get_absolute_url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5>{{ item.get_category_display }}</h5>
          </a>
          <h5>
            <strong>
              <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>$
              {% if item.discount_price %}
              {{ item.discount_price }}
              {% else %}
              {{ item.price }}
              {% endif %}
            </strong>
          </h4>

        </div>

      </div>

    </div>
    {% endfor %}
  </div>

</section> -->

<section class="main-slider">
  <div class="slider-box">

    <!-- Banner Carousel -->
    <div class="banner-carousel owl-theme owl-carousel">

      <!-- Slide -->
      <div class="slide">

        <div class="image-layer"
          style="background-image:url(https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?auto=compress&cs=tinysrgb&w=800)">
        </div>
        <div class="auto-container">
          <div class="content">
            <h2>We make dream <br> home a reality</h2>
            <div class="text">Since 1989, We inspired fragments of your life stories with the finest kitchens,
              wardrobes, bedroom sets and living & dining.</div>
            <div class="btns-box">
              <a href="#" class="theme-btn btn-style-one"><span class="txt">Know more</span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="slide">
        <div class="image-layer"
          style="background-image:url(https://images.pexels.com/photos/1165991/pexels-photo-1165991.jpeg?auto=compress&cs=tinysrgb&w=800)">
        </div>
        <div class="auto-container">
          <div class="content">
            <h2>Designs Benefitting <br> Your Persona</h2>
            <div class="text">Since 1989, We inspired fragments of your life stories with the finest kitchens,
              wardrobes, bedroom sets and living & dining.</div>
            <div class="btns-box">
              <a href="#" class="theme-btn btn-style-one"><span class="txt">Know more</span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="slide">
        <div class="image-layer"
          style="background-image:url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=800)">
        </div>
        <div class="auto-container">
          <div class="content">
            <h2>Solution for <br> Modern Kitchen</h2>
            <div class="text">Since 1989, We inspired fragments of your life stories with the finest kitchens,
              wardrobes, bedroom sets and living & dining.</div>
            <div class="btns-box">
              <a href="#" class="theme-btn btn-style-one"><span class="txt">Know more</span></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="shop-section">
  <div class="auto-container">
    <!--Sec Title-->
    <div class="title-box">
      <h2>Featured Products</h2>
    </div>

    <div class="row clearfix">
      <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title light centered">
          <h2>We Provide Different Product In Our Shop</h2>
          <!-- <div class="text">Survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple.</div> -->
        </div>

        <div class="row clearfix">

          {% for item in object_list %}
          <!-- Service Block -->
          <div class="service-block-three col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="image">
                <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" alt="" /></a>
              </div>
              <div class="lower-content">
                <h3><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h3>
                <div class="text">{{item.description}}.</div>
                <a href="{{ item.get_absolute_url }}" class="read">
                  <h4> {{item.price}}</h4>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>


      </div>

      <!--Shop Item-->



    </div>



  </div>

</section>
<!--Section: Products v.3-->

<!--Pagination-->

{% if is_paginated %}
<nav class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">

    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}

    <li class="page-item active">
      <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
        <span class="sr-only">(current)</span>
      </a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

</div>
</main> -->

{% endblock content %}
{% endblock %}